
    ul{
        text-align: right;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 25px;
        
    }
    ul li {
        list-style: none;
        display: inline-block;
        margin-right: 35px;
        
    }
    ul li a{
        text-decoration: none;
        color: #3c3c3c;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;    
    }

    .list{

    }
    .sectio2{
        height: 1200px;
    }
    p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3e3e3e;
    line-height: 24px;
    }
.hello{ 
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 75px;
    color: #f46060;
    
}
.hello2{
    color: #363958;
}
.half-width{
    width: 43%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
.link{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    background-image: linear-gradient( lightsalmon, tomato);
    color: white;
    padding: 15px 44px;
    border-radius: 6px;
    
}
.about{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #363958;
}
.latest-work{
    text-align: center;
}
.latest{
    color: #f46060;
}

.sectio3{
    height: 700px;
}
.third-width{
    width: 28%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
    box-shadow: 0px 6.5px 19.7px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    height: 380px;

}
.third-width img{
    width: 100%;
}
.last-pictures-under{
    font-family: 'Roboto' ;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    color: #363958;
}
.third-width-pera{
    font-family: 'Roboto';
    font-style: normal ;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6c6c6c;
}
.blue-image{
    height: 200px;
    width: 100%;
    background-image: url("shapes/shape1.png");
   background-position: center;  
    background-repeat: no-repeat; 
    background-size: contain;
    /* margin: 50px 18% ;  */
}
.bluebox-under{
    width: 43%;
    float: left;
}
.Work-inquiry{
    font-family: 'Bebas Neue';
    text-align: right;
    margin-top: 65px; 
    color: #fff;
    font-size: 54px;
    font-weight: 350;
}
.letsbox{
    text-align: left;
    margin-top: 90px;
    margin-left: 300px;

}
.lets-chat{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    padding: 16px 28px;
    background-image: linear-gradient(0deg, #ff8063, #f46060);
    border-radius: 8px;
}
.under-bluebox{
    margin-top: 85px;
    margin-bottom: 85px;
}
.under-blueboxtext{
    text-align: center;
}
.stay{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color:#696871;
    margin-bottom: 15px;
}
.hello_{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 34px;
    font-style: none;
    line-height: 38px;
    color:#363958;
    margin-top: 10px;
    margin-bottom: 15px;
}
.icon{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.icon img{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 10px 10px;   
}

footer{
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
}